{% extends 'SupperUserApp/superuser-base.html' %}{% load static %}
{% block content %}


					<div class="breadcrumb-wrapper breadcrumb-contacts">
						<div>
							<h1>User Profile</h1>
							<p class="breadcrumbs"><span><a href="index.html">Home</a></span>
								<span><i class="mdi mdi-chevron-right"></i></span>Profile
							</p>
						</div>
						<!-- <div>
							<a href="#" class="btn btn-primary">Edit</a>
						</div> -->
					</div>
					<div class="card bg-white profile-content">
						<div class="row">
							<div class="col-lg-4 col-xl-3">
								<div class="profile-content-left profile-left-spacing">
									<div class="text-center widget-profile px-0 border-0">
										<div class="card-img mx-auto rounded-circle">
										
											<img src="{% if login_obj.ProfilePic %}
											          {{login_obj.ProfilePic.url }}
											          {% else %}
											          {% static 'supperuserstatic/img/profile.jpg' %}
											          {% endif %}">
										</div>
										<div class="card-body">
											<h4 class="py-2 text-dark">{{usertypeobj.LoginType.first_name}} {{usertypeobj.LoginType.last_name}}</h4>
											<p>{{usertypeobj.LoginType.email}}</p>
											<p>{{usertypeobj.LoginType.mobile_number}}</p>
											<!-- <a class="btn btn-primary my-3" href="#">Follow</a> -->
										</div>
									</div>

									<div class="d-flex justify-content-between ">
										<div class="text-center pb-4">
											<h6 class="text-dark pb-2">546</h6>
											<p>Bought</p>
										</div>

										<div class="text-center pb-4">
											<h6 class="text-dark pb-2">32</h6>
											<p>Wish List</p>
										</div>

										<!-- <div class="text-center pb-4">
											<h6 class="text-dark pb-2">1150</h6>
											<p>Following</p>
										</div> -->
									</div>

									<hr class="w-100">

									<div class="contact-info pt-4">
										<h5 class="text-dark">Contact Information</h5>
										<p class="text-dark font-weight-medium pt-24px mb-2">Email address</p>
										<p>{{usertypeobj.LoginType.email}}</p>
										<p class="text-dark font-weight-medium pt-24px mb-2">Phone Number</p>
										<p>{{usertypeobj.LoginType.mobile_number}}</p>
										<p class="text-dark font-weight-medium pt-24px mb-2">Birthday</p>
										<p>{{login_obj.DateOfBirth}}</p>
										<p class="text-dark font-weight-medium pt-24px mb-2">Gender</p>
										{% if 'M' in login_obj.Gender %}
										<p>Male</p>
										{% elif 'F' in login_obj.Gender %}
										<p>Female</p>
										{% else %}
										
										{% endif %}
										<p class="text-dark font-weight-medium pt-24px mb-2">Alternate Mobile</p>
										<p>{{login_obj.AlternateMobile}}</p>
										<p class="text-dark font-weight-medium pt-24px mb-2">Social Profile</p>
										<p class="social-button">
											<a href="#" class="mb-1 btn btn-outline btn-twitter rounded-circle">
												<i class="mdi mdi-twitter"></i>
											</a>

											<a href="#" class="mb-1 btn btn-outline btn-linkedin rounded-circle">
												<i class="mdi mdi-linkedin"></i>
											</a>

											<a href="#" class="mb-1 btn btn-outline btn-facebook rounded-circle">
												<i class="mdi mdi-facebook"></i>
											</a>

											<a href="#" class="mb-1 btn btn-outline btn-skype rounded-circle">
												<i class="mdi mdi-skype"></i>
											</a>
										</p>
									</div>
								</div>
							</div>

							<div class="col-lg-8 col-xl-9">
								<div class="profile-content-right profile-right-spacing py-5">
									<ul class="nav nav-tabs px-3 px-xl-5 nav-style-border" id="myProfileTab" role="tablist">
										<li class="nav-item" role="presentation">
											<button class="nav-link active" id="profile-tab" data-bs-toggle="tab"
												data-bs-target="#profile" type="button" role="tab"
												aria-controls="profile" aria-selected="true">Profile</button>
										</li>
										<li class="nav-item" role="presentation">
											<button class="nav-link" id="settings-tab" data-bs-toggle="tab"
												data-bs-target="#settings" type="button" role="tab"
												aria-controls="settings" aria-selected="false">Settings</button>
										</li>
										<li class="nav-item" role="presentation">
											<button class="nav-link" id="add-to-card-tab" data-bs-toggle="tab"
												data-bs-target="#add-to-card" type="button" role="tab"
												aria-controls="add-to-card" aria-selected="false">Add To Card</button>
										</li>
										<li class="nav-item" role="presentation">
											<button class="nav-link" id="Final-product-tab" data-bs-toggle="tab"
												data-bs-target="#Final-product" type="button" role="tab"
												aria-controls="Final-product" aria-selected="false">Final Product</button>
										</li>
										<li class="nav-item" role="presentation">
											<button class="nav-link" id="cancel-product-tab" data-bs-toggle="tab"
												data-bs-target="#cancel-product" type="button" role="tab"
												aria-controls="cancel-product" aria-selected="false">Cancel Product</button>
										</li>
									</ul>
									<div class="tab-content px-3 px-xl-5" id="myTabContent">

										<div class="tab-pane fade show active" id="profile" role="tabpanel"
											aria-labelledby="profile-tab">
											<div class="tab-widget mt-5">
												<div class="row">
													<div class="col-xl-4">
														<div class="media widget-media p-3 bg-white border">
															<div class="icon rounded-circle mr-3 bg-primary">
																<i class="mdi mdi-account-outline text-white "></i>
															</div>

															<div class="media-body align-self-center">
																<h4 class="text-primary mb-2">546</h4>
																<p>Bought</p>
															</div>
														</div>
													</div>

													<div class="col-xl-4">
														<div class="media widget-media p-3 bg-white border">
															<div class="icon rounded-circle bg-warning mr-3">
																<i class="mdi mdi-cart-outline text-white "></i>
															</div>

															<div class="media-body align-self-center">
																<h4 class="text-primary mb-2">1953</h4>
																<p>Wish List</p>
															</div>
														</div>
													</div>

													<div class="col-xl-4">
														<div class="media widget-media p-3 bg-white border">
															<div class="icon rounded-circle mr-3 bg-success">
																<i class="mdi mdi-ticket-percent text-white "></i>
															</div>

															<div class="media-body align-self-center">
																<h4 class="text-primary mb-2">02</h4>
																<p>Voucher</p>
															</div>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-xl-12">

														<!-- Notification Table -->
														<div class="card card-default">
															<div class="card-header justify-content-between mb-1">
																<h2>Latest Notifications</h2>
																<div>
																	<button class="text-black-50 mr-2 font-size-20"><i
																			class="mdi mdi-cached"></i></button>
																	<div
																		class="dropdown show d-inline-block widget-dropdown">
																		<a class="dropdown-toggle icon-burger-mini"
																			href="#" role="button"
																			id="dropdown-notification"
																			data-bs-toggle="dropdown"
																			aria-haspopup="true" aria-expanded="false"
																			data-display="static"></a>
																		<ul class="dropdown-menu dropdown-menu-right"
																			aria-labelledby="dropdown-notification">
																			<li class="dropdown-item"><a
																					href="#">Action</a></li>
																			<li class="dropdown-item"><a
																					href="#">Another action</a></li>
																			<li class="dropdown-item"><a
																					href="#">Something else here</a>
																			</li>
																		</ul>
																	</div>
																</div>

															</div>
															<div class="card-body compact-notifications" data-simplebar
																style="height: 434px;">
																<div
																	class="media pb-3 align-items-center justify-content-between">
																	<div
																		class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-primary text-white">
																		<i
																			class="mdi mdi-cart-outline font-size-20"></i>
																	</div>
																	<div class="media-body pr-3 ">
																		<a class="mt-0 mb-1 font-size-15 text-dark"
																			href="#">New Order</a>
																		<p>Selena has placed an new order</p>
																	</div>
																	<span class=" font-size-12 d-inline-block"><i
																			class="mdi mdi-clock-outline"></i> 10
																		AM</span>
																</div>

																<div
																	class="media py-3 align-items-center justify-content-between">
																	<div
																		class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-success text-white">
																		<i
																			class="mdi mdi-email-outline font-size-20"></i>
																	</div>
																	<div class="media-body pr-3">
																		<a class="mt-0 mb-1 font-size-15 text-dark"
																			href="#">New Enquiry</a>
																		<p>Phileine has placed an new order</p>
																	</div>
																	<span class=" font-size-12 d-inline-block"><i
																			class="mdi mdi-clock-outline"></i> 9
																		AM</span>
																</div>


																<div
																	class="media py-3 align-items-center justify-content-between">
																	<div
																		class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-warning text-white">
																		<i
																			class="mdi mdi-stack-exchange font-size-20"></i>
																	</div>
																	<div class="media-body pr-3">
																		<a class="mt-0 mb-1 font-size-15 text-dark"
																			href="#">Support Ticket</a>
																		<p>Emma has placed an new order</p>
																	</div>
																	<span class=" font-size-12 d-inline-block"><i
																			class="mdi mdi-clock-outline"></i> 10
																		AM</span>
																</div>

																<div
																	class="media py-3 align-items-center justify-content-between">
																	<div
																		class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-primary text-white">
																		<i
																			class="mdi mdi-cart-outline font-size-20"></i>
																	</div>
																	<div class="media-body pr-3">
																		<a class="mt-0 mb-1 font-size-15 text-dark"
																			href="#">New order</a>
																		<p>Ryan has placed an new order</p>
																	</div>
																	<span class=" font-size-12 d-inline-block"><i
																			class="mdi mdi-clock-outline"></i> 10
																		AM</span>
																</div>

																<div
																	class="media py-3 align-items-center justify-content-between">
																	<div
																		class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-info text-white">
																		<i
																			class="mdi mdi-calendar-blank font-size-20"></i>
																	</div>
																	<div class="media-body pr-3">
																		<a class="mt-0 mb-1 font-size-15 text-dark"
																			href="#">Comapny Meetup</a>
																		<p>Phileine has placed an new order</p>
																	</div>
																	<span class=" font-size-12 d-inline-block"><i
																			class="mdi mdi-clock-outline"></i> 10
																		AM</span>
																</div>

																<div
																	class="media py-3 align-items-center justify-content-between">
																	<div
																		class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-warning text-white">
																		<i
																			class="mdi mdi-stack-exchange font-size-20"></i>
																	</div>
																	<div class="media-body pr-3">
																		<a class="mt-0 mb-1 font-size-15 text-dark"
																			href="#">Support Ticket</a>
																		<p>Emma has placed an new order</p>
																	</div>
																	<span class=" font-size-12 d-inline-block"><i
																			class="mdi mdi-clock-outline"></i> 10
																		AM</span>
																</div>

																<div
																	class="media py-3 align-items-center justify-content-between">
																	<div
																		class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-success text-white">
																		<i
																			class="mdi mdi-email-outline font-size-20"></i>
																	</div>
																	<div class="media-body pr-3">
																		<a class="mt-0 mb-1 font-size-15 text-dark"
																			href="#">New Enquiry</a>
																		<p>Phileine has placed an new order</p>
																	</div>
																	<span class=" font-size-12 d-inline-block"><i
																			class="mdi mdi-clock-outline"></i> 9
																		AM</span>
																</div>

															</div>
															<div class="mt-3"></div>
														</div>

													</div>
												</div>
											</div>
										</div>

										<div class="tab-pane fade" id="settings" role="tabpanel"
											aria-labelledby="settings-tab">
											<div class="tab-pane-content mt-5">
												<form action="{% url 'NormalUserProfile' usertypeobj.id %}" method="POST" enctype="multipart/form-data\">
													{% csrf_token %}
													<div class="form-group row mb-6">
														<label for="coverImage"
															class="col-sm-4 col-lg-2 col-form-label">User Image</label>
														<div class="col-sm-8 col-lg-10">
															<div class="custom-file mb-1">
																<input type="file" class="custom-file-input"
																	id="coverImage" required>
																<label class="custom-file-label" for="coverImage">Choose
																	file...</label>
																<div class="invalid-feedback">Example invalid custom
																	file feedback</div>
															</div>
														</div>
													</div>

													<div class="row mb-2">
														<div class="col-lg-6">
															<div class="form-group">
																<label for="firstName">Full name</label>
																<input type="text" class="form-control" id="firstName"
																	value="{{usertypeobj.LoginType.first_name}}">
															</div>
														</div>	
													</div>

													<div class="form-group mb-4">
														<label for="email">Email</label>
														<input type="email" class="form-control" id="email"
															value="{{usertypeobj.LoginType.email}}">
													</div>

													<!-- <div class="form-group mb-4">
														<label for="oldPassword">Old password</label>
														<input type="password" class="form-control" id="oldPassword">
													</div> -->

													<div class="form-group mb-4">
														<label for="newPassword">New password</label>
														<input type="password" class="form-control" id="newPassword" name="newpassword">
													</div>

													<div class="form-group mb-4">
														<label for="conPassword">Confirm password</label>
														<input type="password" class="form-control" id="conPassword" name="confnewpassword">
													</div>

													<div class="d-flex justify-content-end mt-5">
														<button type="submit"
															class="btn btn-primary mb-2 btn-pill">Update
															Profile</button>
													</div>
												</form>
											</div>
										</div>

										<div class="tab-pane fade" id="add-to-card" role="tabpanel"
											aria-labelledby="add-to-card-tab">
											<div class="tab-pane-content mt-5">
												<div class="col-xl-12 col-lg-12">
													<div class="ec-cat-list card card-default">
														<div class="card-body">
															<div class="table-responsive">
																<table id="" class="table">
																	<thead>
																		<tr>
																			<th>Sr.No</th>
																			<th>Image</th>
																			<th>Product Name</th>
																			<th>Color</th>
																			<th>Size</th>
																			<th>Price</th>
																			<th>Discount</th>
																			<th>Discount Price</th>
																			<th>Quantity</th>
																			
																		</tr>
																	</thead>
						
																	<tbody>
																		{% for j in addtocartobj %}
																		{% if j.MoneyStatus %}
																		{% else %}
																		<tr>
																			
																			<td>{{ forloop.counter }}</td>
																			<td><img class="cat-thumb" src="{{j.ProductSizeColorId.ProductImage.url}}" alt="Product Image" /></td>
																			<td>{{j.ProductSizeColorId.Product.ProductName}}</td>
																			<td>{{j.ProductSizeColorId.ProductColour.ProductColorName}}</td>
																			<td>{{j.ProductSizeColorId.ProductSize.size}}</td>
																			<td>{{j.ProductSizeColorId.Price}}</td>
																			<td>{{j.ProductSizeColorId.DiscountPercent}}</td>
																			<td>{{j.ProductSizeColorId.discount}}</td>
																			<td>{{j.Qunatity}}</td>
																	
																		</tr>
																		{% endif %}
																		{% endfor %}
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>


										<div class="tab-pane fade" id="Final-product" role="tabpanel"
											aria-labelledby="Final-product-tab">
											<div class="tab-pane-content mt-5">
												<div class="col-xl-12 col-lg-12">
													<div class="ec-cat-list card card-default">
														<div class="card-body">
															<div class="table-responsive">
																<table id="" class="table">
																	<thead>
																		<tr>
																			<th>Sr.No</th>
																			<th>Image</th>
																			<th>Product Name</th>
																			<th>Color</th>
																			<th>Size</th>
																			<th>Price</th>
																			<th>Discount</th>
																			<th>Discount Price</th>
																			<th>Quantity</th>
																			
																		</tr>
																	</thead>
						
																	<tbody>
																		{% for j in addtocartobj %}
																		{% if j.MoneyStatus %}
																		{% if j.CancelledStatus  %}
																		{% else %}
																		{% if j.RefundStatus %}
																		{% else %}
																		<tr>
																			
																			<td>{{ forloop.counter }}</td>
																			<td><img class="cat-thumb" src="{{j.ProductSizeColorId.ProductImage.url}}" alt="Product Image" /></td>
																			<td>{{j.ProductSizeColorId.Product.ProductName}}</td>
																			<td>{{j.ProductSizeColorId.ProductColour.ProductColorName}}</td>
																			<td>{{j.ProductSizeColorId.ProductSize.size}}</td>
																			<td>{{j.ProductSizeColorId.Price}}</td>
																			<td>{{j.ProductSizeColorId.DiscountPercent}}</td>
																			<td>{{j.ProductSizeColorId.discount}}</td>
																			<td>{{j.Qunatity}}</td>
																	
																		</tr>

																		{% endif %}
																		{% endif %}
																		{% endif %}
																		{% endfor %}
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>


										<div class="tab-pane fade" id="cancel-product" role="tabpanel"
											aria-labelledby="cancel-product-tab">
											<div class="tab-pane-content mt-5">
												<div class="col-xl-12 col-lg-12">
													<div class="ec-cat-list card card-default">
														<div class="card-body">
															<div class="table-responsive">
																<table id="" class="table">
																	<thead>
																		<tr>
																			<th>Sr.No</th>
																			<th>Image</th>
																			<th>Product Name</th>
																			<th>Color</th>
																			<th>Size</th>
																			<th>Price</th>
																			<th>Discount</th>
																			<th>Discount Price</th>
																			<th>Quantity</th>
																			
																		</tr>
																	</thead>
						
																	<tbody>
																		{% for j in addtocartobj %}
																		{% if j.CancelledStatus  %}
																		<tr>
																			
																			<td>{{ forloop.counter }}</td>
																			<td><img class="cat-thumb" src="{{j.ProductSizeColorId.ProductImage.url}}" alt="Product Image" /></td>
																			<td>{{j.ProductSizeColorId.Product.ProductName}}</td>
																			<td>{{j.ProductSizeColorId.ProductColour.ProductColorName}}</td>
																			<td>{{j.ProductSizeColorId.ProductSize.size}}</td>
																			<td>{{j.ProductSizeColorId.Price}}</td>
																			<td>{{j.ProductSizeColorId.DiscountPercent}}</td>
																			<td>{{j.ProductSizeColorId.discount}}</td>
																			<td>{{j.Qunatity}}</td>
																	
																		</tr>
																		{% endif %}
																		{% endfor %}
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										
										<div class="tab-pane fade" id="buy-product" role="tabpanel"
											aria-labelledby="buy-product-tab">
											<div class="tab-pane-content mt-5">
												<div class="col-xl-12 col-lg-12">
													<div class="ec-cat-list card card-default">
														<div class="card-body">
															<div class="table-responsive">
																<table id="" class="table">
																	<thead>
																		<tr>
																			<th>Sr.No</th>
																			<th>Image</th>
																			<th>Product Name</th>
																			<th>Color</th>
																			<th>Size</th>
																			<th>Price</th>
																			<th>Discount</th>
																			<th>Quantity</th>
																			<th>Payment Method</th>
																			<th>Order Date</th>
																			<th>Order ID</th>
																			
																			
																		</tr>
																	</thead>
						
																	<tbody>
																		
																		<tr>
																			
																			<td>{{ forloop.counter }}</td>
																			<td><img class="cat-thumb" src="#" alt="Product Image" /></td>
																			<td></td>
																			<td></td>
																			<td></td>
																			<td></td>
																			<td></td>
																			<td></td>
																	
																		</tr>
																		
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>
					{% endblock %}