{% extends 'SupperUserApp/superuser-base.html' %}{% load static %}
{% block content %}
					

					<div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
						<div>
							<h1>Product List</h1>
							<p class="breadcrumbs"><span><a href="{% url 'Index' %}">Home</a></span>
								<span><i class="mdi mdi-chevron-right"></i></span>Product</p>
						</div>
						<div>
							<a href="{% url 'AddProduct' %}" class="btn btn-primary"> Add Porduct</a>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card card-default">
								<div class="card-body">
									<div class="input-group ">
										<span class="input-group-text"><i class="mdi mdi-magnify" aria-hidden="true"></i></span>
										<input id="tableSearch" class="form-control input-text" placeholder="Type your question or keyword" type="text">
									</div>
									<div class="table-responsive">
										<table id="responsive-data-table" class="table"
											style="width:100%">
											<thead>
												<tr>
													<th>Product</th>
													<th>Name</th>
													<th>BrandName</th>
													<!-- <th>Price</th>
													<th>Offer</th>
													<th>Offerd Amount</th> -->
													<th>Stock</th>
													
													<th>Action</th>
												</tr>
											</thead>

											<tbody id="myTable">
													{% for i in AddProductobj %}
													<tr>
														<td><img class="tbl-thumb" src="{{i.ProductMainImage.url}}" alt="Product Image" /></td>
														<td>{{i.ProductName}}</td>
														<td>{{i.ProductBrandName}}</td>
														<!-- <td>{{i.Price}}</td>
														<td>{{i.DiscountPercent}}</td> -->
														<!-- <td>{{i.discount}}</td> -->
														<td>{{i.TotalProduct}}</td>
														
														<td>
															<form action="{% url 'ProductDetailAdmins' i.ProductSlug %}">

															<div class="btn-group mb-1">
																<button type="submit"
																	class="btn btn-outline-success"> More Info</button>
																
																<button type="submit"
																	class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
																	data-bs-toggle="dropdown" aria-haspopup="true"
																	aria-expanded="false" data-display="static">
																	<span class="sr-only">Info</span>
																</button>
															
																<div class="dropdown-menu">
																	<a class="dropdown-item" href="#" onclick="editproductlist('{{i.id}}','{{i.ProductName}}','{{i.ProductBrandName}}','{{i.ProductMainImage.url}}')" data-bs-toggle="modal" data-bs-target="#EditProductList">Edit</a>
																	<a class="dropdown-item" href="{% url 'DeleteProductList' i.id %}" onclick="return confirm('Are you sure you want to delete this item.')">Delete</a>
																</div>
															</div>
														</form>

														</td>
													</tr>
													{% endfor %}
												</ul>
											</tbody>
										</table>
									</div>
									<!-- start pagignation -->

									<nav aria-label="...">
										<ul class="pagination">
										{% if AddProductobj.has_previous %}
										  <li class="page-item">
											<a class="page-link" href="?page=1" >First</a>
										  </li>
										  <li class="page-item">
											<a class="page-link" href="?page={{AddProductobj.previous_page_number}}" >Previous</a>
										  </li>
										{% endif %}
										  <!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
										  <li class="page-item">
											<a class="page-link" href="#">{{AddProductobj.number}} <span class="sr-only">(current)</span></a>
										  </li>
										
										  <!-- <li class="page-item"><a class="page-link" href="#">3</a></li> -->
										 {% if AddProductobj.has_next %} 
										  <li class="page-item">
											<a class="page-link" href="?page={{AddProductobj.next_page_number}}">Next</a>
										  </li>
										  <li class="page-item">
											<a class="page-link" href="?page={{AddProductobj.paginator.num_pages}}">Last</a>
										  </li>
										  {% endif %}
										</ul>
									</nav>


									<!-- <nav aria-label="Page navigation example">
										<ul class="pagination justify-content-center">
										{% if AddProductobj.has_previous %}
										<li class="page-item">
											<a class="page-link" href="/ProductList/?page=1" aria-disabled="true">Previous</a>
										</li>
										<li class="page-item">
											<a class="page-link" href="/ProductList/?page={{AddProductobj.previous_page_number}}" aria-disabled="true">first</a>
										</li>
										{% endif %}
										<li class="page-item"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item">
											<a class="page-link" href="#">Next</a>
										</li>
										</ul>
									</nav> -->
									<!-- stop  -->
								</div>

								
							</div>
						</div>
					</div>


	<!-- start Edit Modal  -->
	<div class="modal fade modal-add-contact" id="EditProductList" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			
			<form action="#" method="POST" enctype="multipart/form-data" id="productlist">
				{% csrf_token %}
				<div class="modal-header px-4">
					<h5 class="modal-title" id="exampleModalCenterTitle">Edit Product List</h5>
				</div>

				<div class="modal-body px-4">
					<!-- <div class="form-group row mb-6">
						<div class="col-lg-4">
							<input type="image" class=" border" id="Image" value="" name="brandname" height="90px" width="90px">
							<div class="custom-file mb-1">
								<input type="file" class="custom-file-input" id="coverImage" name="addphoto" required>
								<label class="custom-file-label" for="coverImage">Choose file...</label>
							</div>
						</div>	
					</div> -->

					<div class="row mb-2">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="firstName"> Name</label>
								<input type="text" class="form-control" id="firstName" value="" name="name">
							</div>
						</div>

						<div class="col-lg-6">
							<div class="form-group">
								<label for="firstName">BrandName</label>
								<input type="text" class="form-control" id="brandname" value="" name="brandname">
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer px-4">
					<button type="button" class="btn btn-secondary btn-pill"
						data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary btn-pill">Save </button>
				</div>
			</form>
		</div>
	</div>
	</div>
	<!--end Edit Modal  -->	
	
	<!-- start script for edit product list -->
	<script>
		function editproductlist(id,val1,val2,val3){    //'editproductlist' onclick function on edit button
					console.log(id)
					console.log(val1)
					console.log(val2)
					console.log(val3)

				   document.getElementById('productlist').action ='/UpdateProductList/'+id;    //pass url in script action & in bracket pass id from form
				   document.getElementById("firstName").value = val1;
				   document.getElementById("brandname").value = val2;
				   documnet.getElementById('Image').image=val3;
				}
	</script>
	<!-- end script for edit product list -->
	<!-- search script -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#tableSearch").on("keyup", function() {
			  var value = $(this).val().toLowerCase();
			  console.log(value)
			  $("#myTable tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			  });
			});
		});
	</script>
	<!-- end search script -->

	<!-- script start pagignation -->


					{% endblock %}