{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Scroly</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
        <!-- JavaScript Bundle with Popper -->
        <link rel="stylesheet" href="{% static 'css/style-guid.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/About-us.css' %}" type="text/css">
    
    </head>
<body style="overflow-x: hidden;">
    <div class="container-fluid page-padding">
        <div class="row">
            <!-- start-faq-section -->
            <div class="  col-sm-12 col-md-12 faq">

            About us                
                
            </div>
            <!-- end-faq-section -->
        </div>

        <!-- faq for mobile view -->
        <div class="row">
            <!-- start-faq-section -->
            <div class=" col-12 col-sm-12 col-md-12 padding-faq-mobileview">
                <i class="fa fa-angle-left icon-for-mobile-view" aria-hidden="true"></i><span class="padding-with-icon"></span> <span class="faqmobile">About us</span>
            </div>
            <!-- end-faq-section -->
        </div>
        
        <!-- =================================Start-Row-1========================================= -->

        <div class="row">
            <div class=" col-sm-12 col-md-12 padding-border ">
                <div class="row ">
                    <div class=" col-sm-12 col-md-12 my-pading-for-mobile-view d-flex card-payment pe-0">
                        <div class="card bg-shadow-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class=" col-sm-12 col-md-12 heading">
                                        1. Why my card payment is failing?
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="  col-sm-12 col-md-12 content">
                                        Contact us at contact@scroly.in.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ----------------------------------------------------- -->
                    <div class=" col-sm-12 col-md-12 my-pading-for-mobile-view d-flex card-payment pe-0 pt-4">
                        <div class="card bg-shadow-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class=" col-sm-12 col-md-12 heading">
                                        2. Why my card payment is failing?
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="  col-sm-12 col-md-12 content">
                                        Contact us at contact@scroly.in.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ======================================End-Row-1==================================== -->

        
      

        <div class="border-top"></div>

        <div class="row">
            <div class="col-md-12 go-to-home home-but">
               <a  href="{% url 'home' %}" class="home-but">Go back home</a> 
            </div>
        </div>

 
    </div>


    
</body>
</html>