{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Scroly</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- JavaScript Bundle with Popper -->
      <link rel="stylesheet" href="{% static 'css/style-guid.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'css/base1.css' %}" type="text/css">
      <script src="{% static 'js/fontawesome.js' %}"></script>
      {% block own_css %}
      {% endblock own_css%}

   </head>
   <body>
      <!-- start preloader  -->
      <div class="loader-bg">
         <div class="loader"></div>
      </div>
      <!-- end preloader  -->
      <!-- start navbar1 -->
      <nav class="navbar navbar-expand-sm nav1-padding" id="nav1">
         <div class="d-flex flex-grow-1">
            <button type="button" class="btn ps-0" onclick="openNav()">
            <img src="{% static 'images/3linesnav.png' %}" alt="">
        </button>
            <!-- start scroly logo -->
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
            <!-- end scroly logo  -->
         </div>
         <!-- start toggle button -->
         <!-- <button class="navbar-toggler order-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            </button> -->
         <!-- end toggle-button -->
         <!-- <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbar7">
            <span class="navbar-toggler-icon"></span>
            </button> -->
         <div class="navbar-collapse collapse flex-shrink-1 flex-grow-0 order-last" id="myNavbar">
         <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link earn-with-scroly" href="{% url 'earn-scroly' %}">Earn with scroly</a>
         </li>
         <li class="nav-item">
            <a class="nav-link beacome-supplier" href="{% url 'become-supplier' %}">Become a Supplier</a>
         </li>
         {% if user.is_authenticated %}
         <li class="nav-item">
            <a class="nav-link select-your-address" href="{% url 'saveaddress' %}">Select your address</a>
         </li>
         {% endif %}
         <li class="nav-item">
            <a class="nav-link download-app" href="#">Download App</a>
         </li>
         {% if user.is_authenticated %}
         <li class="nav-item">
            <a class="nav-link signin-signup" href="{% url 'logout' %}">Sign Out</a>
         </li>
         {% else %}
         <li class="nav-item">
            <a class="nav-link signin-signup" href="{% url 'signin' %}">Sign in or Sign up</a>
         </li>
         {% endif %}
         <li class="nav-item">
            <a class="nav-link cart" href="{% url 'AddToCard' %}">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <sup>
            <span class="badge rounded-pill badge-notification">{% if cart_count == 0 %}{% else %}{{cart_count}}{% endif %}</span>
            </sup>
            Cart
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link notification" href="{% url 'notification' %}">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <sup>
            <span class="badge rounded-pill badge-notification">1</span>
            </sup>
            Notifications
            </a>
         </li>
         <!-- start profile icon with dropdown -->
         {% if user.is_authenticated %}
         <li class="nav-item dropdown">
            <div class="dropdown">
               <!-- start profile icon -->
               <button type="button" class="btn text-center profile-bt" data-bs-toggle="dropdown">
               <i class="fa fa-user"></i>
               </button>
               <!-- end profile icon -->
               <!-- start profile dropdown content -->
               <ul class="dropdown-menu dropdown-menu-end profileDropdown pt-sm-5 px-sm-4">
                  <!-- profile dropdown heading start -->
                  <li>
                     <h3>Hello {{user.first_name}}</h3>
                     <h5>{{user.email}}</h5>
                     <h5>{% if user.mobile_number %}{{user.mobile_number}}{% else %}{% endif %}</h5>
                  </li>
                  <hr class="dropdown-divider">
                  </li>
                  <li>
                     <!-- start dropdown-item order -->
                  <li>
                     <a class="dropdown-item sidenav-border mt-sm-2 py-sm-2" href="{% url 'Order' %}">Orders</a>
                  </li>
                  <!-- end dropdown-item order -->
                  </li>
                  <li>
                     <!-- start dropdown-item profile -->
                  <li>
                     <a class="dropdown-item sidenav-border mt-sm-2 py-sm-2"
                        href="{% url 'profile' %}">Profile</a>
                  </li>
                  <!-- end dropdown-item profile -->
                  </li>
                  <li>
                     <!-- start dropdown-item logout -->
                  <li>
                     <a class="dropdown-item sidenav-border mt-sm-2 py-sm-2" href="{% url 'logout'%}">Sign Out</a>
                  </li>
                  <!-- end dropdown-item logout -->
                  </li>
                  {% endif %}
               </ul>
            </div>
      </nav>
      <!-- end navbar1 -->
      <!-- <nav class="navbar navbar-dark navbar-expand bg-white py-3 position-relative">
        
       
       </nav> -->
      <!-- start mobile navbar1 -->
      <nav class="navbar navbar-expand nav1-padding-mbl mobile-navbar position-relative bg-white"  id="nav2" >
         <div class="d-flex flex-grow-1">
            <button type="button" class="btn" onclick="openNav()">
               <img src="{% static 'images/3linesnav.png' %}" alt="">
            </button>
            <!-- start scroly logo -->
            <a class="navbar-brand" href="{% url 'home' %}">
               <img src="{% static 'images/logo.png' %}" alt="">
            </a>
            <!-- end scroly logo  -->
            <!-- <div class="d-block">
               <input type="search" id="search" class="form-control position-absolute shadow-sm" placeholder="Search">
               <a class="btn btn-light me-2" role="button" id="btn-search" href="#" onclick="myFunction()">🔎</a>
             
             </div> -->
         </div>
      <!-- start toggle button -->
      <!-- <button class="navbar-toggler order-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
         <span class="navbar-toggler-icon"></span>
         </button> -->
      <!-- end toggle-button -->
      <!-- <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbar7">
         <span class="navbar-toggler-icon"></span>
         </button> -->
      <div class="navbar-collapse collapse flex-shrink-1 flex-grow-0 order-last" id="myNavbar">
      <ul class="navbar-nav">
      {% if user.is_authenticated %}
      <!-- <li class="nav-item">
         <a class="nav-link select-your-address" href="{% url 'saveaddress' %}">Select your address</a>
         </li>-->
      {% endif %}
      {% if user.is_authenticated %}
      <!--<li class="nav-item">
         <a class="nav-link signin-signup" href="{% url 'logout' %}">Logout</a>
         </li>-->
      {% else %}
      <li class="nav-item">
      <a class="nav-link signin-signup" href="{% url 'signin' %}">Sign/Sign up</a>
      </li>
      {% endif %}
      <li class="nav-item">
      <a class="nav-link cart" href="{% url 'AddToCard' %}"><i class="fa fa-shopping-cart"
         aria-hidden="true"></i><sup><span
         class="badge rounded-pill badge-notification ">{% if cart_count == 0 %}{% else %}{{cart_count}}{% endif %}</span></sup> </a>
      </li>
      <li class="nav-item">
      <a class="nav-link notification" href="#"><i class="fa fa-bell" aria-hidden="true"></i><sup><span
         class="badge rounded-pill badge-notification ">1</span></sup>
      </a>
      </li>
      <!-- start profile icon with dropdown -->
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
      <div class="dropdown">
      <!-- start profile icon -->
      <button type="button" class="btn text-center profile-bt" data-bs-toggle="dropdown">
      <i class="fa fa-user"></i>
      </button>
      <!-- end profile icon -->
      <!-- start profile dropdown content -->
      <ul class="dropdown-menu dropdown-menu-end profileDropdown pt-sm-5 px-sm-4 pt-2 ps-2">
      <!-- profile dropdown heading start -->
      <li>
      <h3>Hello {{user.first_name}}</h3>
      <h5>{{user.email}}</h5>
      <h5>{% if user.mobile_number %}{{user.mobile_number}}{% else %}{% endif %}</h5>
      </li>
      <hr class="dropdown-divider">
      </li>
      <li>
      <!-- start dropdown-item order -->
      <li class="li-list">
      <a class="dropdown-item sidenav-border mt-sm-2 py-sm-2" href="{% url 'Order' %}">Orders</a>
      </li>
      <!-- end dropdown-item order -->
      </li>
      <li>
      <!-- start dropdown-item profile -->
      <li class="li-list">
      <a class="dropdown-item sidenav-border mt-sm-2 py-sm-2"
         href="{% url 'profile' %}">Profile</a>
      </li>
      <!-- end dropdown-item profile -->
      </li>
      <li>
      <!-- start dropdown-item logout -->
      <li class="li-list">
      <a class="dropdown-item sidenav-border mt-sm-2 py-sm-2" href="{% url 'logout'%}">Sign Out</a>
      </li>
      <!-- end dropdown-item logout -->
      </li>
      {% endif %}
      </ul>
      </div>
      </nav>
      <!-- end mobile navbar1 -->
      <!-- start navbar2 - desk top view -->
      {% block nav_bar %}
      <div class="row padding-nav ">
      <!-- <div class="col-md-12 "> -->
      <nav class="navbar navbar-expand-sm navbar-light nav2-box nav2-mobile-view">
      <!-- <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
         data-bs-target="#navbar-content">
         <div class="hamburger-toggle">
             <div class="hamburger">
                 <span></span>
                 <span></span>
                 <span></span>
             </div>
         </div>
         </button> -->
      <div class=" navbar-collapse nav-inner-content-padding" id="navbar-content">
      <!-- start category -->
      <ul class="navbar-nav ">
      <!-- start men category -->
      {% for c1 in cat1 %}
      <li class="nav-item dropdown dropdown-mega ">
      <a class="nav-link category-name" href="#" data-bs-toggle="dropdown"
         data-bs-auto-close="outside">{{c1.CategoryName}}</a>
      <div class="dropdown-menu shadow category-menu">
      <div class="mega-content px-4 cat-image">
      <div class="container-fluid ">
      <div class="row">
      {% for c2 in cat2 %}
      {% if c1.id is c2.CategoryLevel1Id.id %}
      <div class="col-4 col-sm-7 col-md-3  padding-catname border-end">
      <div class="row">
      <div class="col-md-12 cat-name-pb">
      <span class="category-name pe-5 ">{{c2.CategoryLevel2Name}}</span>
      </div>
      </div>
      <ul class="bullet2">
      {% for c3 in cat3 %}
      {% if c2.id is c3.CategoryLevel2Id.id %}
      <li class="mt-sm-1 subcategory-name"><a
         href="{% url 'SeeAll' c3.CategoryLevel2Id.CategoryLevel1Id.CategorySlug c3.CategoryLevel2Id.CategorySlug c3.CategorySlug  %}">{{c3.CategoryLevel3Name}}</a>
      </li>
      {% endif %}
      {% endfor %}
      </ul>
      </div>
      {% endif %}
      {% endfor %}
      </div>
      </div>
      </div>
      </div>
      </li>
      {% endfor %}
      <!-- end men category -->
      <li class="nav-item" style="width:60%;">
      <form class="scroly-search-bar" action="{% url 'SearchProduct' %}">
      <div class="input-group ">
      <input type="text" class="form-control" placeholder="Search" name="search" required>
      <button class="btn input-group-text" type="submit">
      <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
      </button>
      </div>
      </form>
      </li>
      <li class="nav-item">
      <!-- start diwali-sell -->
      <div class="diwali-sell ps-3">
      Diwali Sell <span class="sub-heading"> is coming soon Add to cart </span> your list now
      </div>
      <!-- end diwali-sell -->
      </li>
      </ul>
      <!-- end category -->
      <!-- start searchbox -->
      <!--<form class="d-flex ps-3" action="{% url 'SearchProduct' %}">
         &lt;!&ndash;<div class="input-group">
             <input class="form-control rounded-pill category-searchbar" type="search"
                    placeholder="Search" aria-label="Search" size="70%">
         </div>&ndash;&gt;

         <div class="input-group">
             <input required name="search" type="text" class="form-control rounded-pill category-searchbar" placeholder="Search">
             &nbsp;
             <button type="submit" style="background-color: transparent; border: none; box-shadow: none;">
                 <span class="input-group-text  rounded-pill category-searchbar-btn">
                     <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                 </span>
             </button>

         </div>


                    </form>-->


                    <!-- end searchbox -->

                <!-- </div> -->

        </nav>
    </div>
</div>

{% endblock nav_bar %}
<!-- end navbar2 -->

<!-- Start navbar - 2 mobile view -->
<section>
    <div class="row category-mobile-view" > 
        <div class="col-12 ps-0 pe-0">
            <div class="cover" >
                <!-- <button class="left" onclick="leftScroll()">
                   <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                   </button> -->
                <div class="row " >
                    <div class="col-12 ps-3" >
                        <div class="scroll-images ">
                            {% for i in cat1 %}
                            <div class="row pe-3">
                                <div class="col-12 text-center">
                                    <a href="{% url 'MenCategoryMobile' i.CategorySlug %}" class="text-decoration-none">
                                        <div class="row ">
                                            <div class="col-md-12 child " >
                                                <img class="child-img " src="{{i.CategoryImage.url}}" alt="image"/>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 men">
                                                {{i.CategoryName}}
                                            </div>
                                        </div>
                                        <!-- <span class="men">Men</span> -->
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- <button class="right" onclick="rightScroll()">
                   <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                   </button> -->
            </div>
        </div>
    </div>
</section>
<!-- End navbar - 2 mobile view -->

{% block content %}
{% endblock %}
<p></p>
<!-- back-to-top button start -->
<div class="row">
    <div class="col-md-12 border-bottom back-to-top-padding text-center">

        <a href="#" class="button back-to-top rounded-top ">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
            &nbsp;&nbsp;
            Back to Top
        </a>


    </div>
</div>
<!-- back-to-top button end -->
<!-- footer start for desktop-->
<div class="footer  ps-4 pt-3 footer-desktop">
    <!-- footer row start -->
    <div class="row">
        <!-- col-sm-2 start -->
        <div class="col-3 col-sm-2 col-md-2">
            <!-- about start -->
            <ul class="bullet-footer">
                <li class="mb-sm-2 pb-2"><a class="text-decoration-none" href="{% url 'about_us' %}" >About us</a></li>
                <li class="mb-sm-2 pb-2">Contanct us</li>
                <li class="mb-sm-2 pb-2"><a href="{% url 'Order' %}" class="text-decoration-none">Order</a></li>
                <li class="mb-sm-2 pb-2"><a class="text-decoration-none" href="{% url 'become-supplier' %}">Become a
                    Supplier</a></li>
                <li class="mb-sm-2"><a class="text-decoration-none" href="{% url 'earn-scroly' %}">Earn with scroly</a>
                </li>
            </ul>
            <!-- about end -->
        </div>
        <!-- col-sm-2 end -->
        <!-- col-sm-2 start -->
        <div class="col-4 col-sm-2  col-md-2">
            <!-- help start -->
            <ul class="bullet-footer">
                <li class="mb-sm-2 pb-2"><a href="{% url 'return-and-refund-policy' %}" class="text-decoration-none"
                                       target="_blank">Return & Refund Policy</a></li>
                <li class="mb-sm-2 pb-2"><a href="{% url 'Faq' %}" class="text-decoration-none" target="_blank">FAQ</a></li>
                <li class="mb-sm-2 pb-2"><a href="{% url 'privacy-policy' %}" class="text-decoration-none" target="_blank">Privacy
                    Policy</a></li>
                <li class="mb-sm-2 pb-2"><a href="{% url 'term-and-conditions' %}" class="text-decoration-none"
                                       target="_blank">Terms & Conditions</a></li>
            </ul>
            <!-- help end -->
        </div>
        <!-- col-sm-2 end -->
        <!-- col-sm-3 start -->
        <div class="col-5 col-sm-3 col-md-3 follow-icon border-end">
            <!-- connect with us start -->
            <h6 class="fw-bold connect-with-us">Connect with us</h6>

            <a href="#" class="facebook text-decoration-none" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>

            <a href="#" class="twitter ms-2 text-decoration-none" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>

            <a href="#" class="twitter ms-2 text-decoration-none" target="_blank">
                <i class="fa-brands fa-instagram-square"></i>
            </a>

            <a href="#" class="linkedin ms-2 text-decoration-none" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>

            <!--<a href=""><img src="{% static 'images/facebook.png' %}" alt="" class="me-sm-2"></a>
            <a href=""><img src="{% static 'images/twitter.png' %}" alt="" class="me-sm-2 img-fluid"></a>
            <a href=""><img src="{% static 'images/instagram.png' %}" alt="" class="me-sm-2 img-fluid"></a>
            <a href=""><img src="{% static 'images/linkedin.png' %}" alt="" class="me-sm-2 img-fluid"></a>-->

            <div class="col-sm-2 col-md-2 scroly-logo-footer-mobile pt-4">
                <img src="{% static 'images/logo.png' %}" alt="">
            </div>
            <!-- connect with us end -->
        </div>
        <!-- col-sm-3 end -->
        <!-- col-sm-3 start -->
        <div class="col-12 col-sm-3 col-md-3 register-ofc-address">
            <h6 class="fw-bold">Registered Office Address</h6>
            <p class="mb-sm-2">Snable Anand Apartment 2nd Floor, Kotwal Nagar Ring Rd, Khamla, Nagpur-440022</p>
        </div>
        <!-- col-sm-3 end -->
        <div class="col-sm-2 col-md-2 text-center scroly-logo-footer">
            <a href="{% url 'home' %}" class="text-decoration-none">
                <img src="{% static 'images/logo.png' %}" alt="">
            </a>

        </div>
    </div>
    <!-- footer row end -->
</div>
<!-- footer end for desktop-->
<!-- start sidenav menu  -->
<div id="mySidenav" class="sidenav">
    <!-- start close button -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <!--end close button  -->
    <!-- start buy again section  -->
    <div class="sidenav-border">
        <!--        <a href="#">Buy Again</a>-->
    </div>
    <!-- end buy again section  -->
    <!--start your account section  -->
    <div class="sidenav-border mt-sm-2">
        <a href="{% url 'profile' %}">Your Profile</a>
    </div>
    <!-- end your account section  -->
    <!-- start order section  -->
    <div class="sidenav-border mt-sm-2">
        <a href="#">Orders</a>
        <p><a href="{% url 'Order' %}">Your Orders</a></p>
    </div>
    <!-- end order section  -->
    <!-- start help & setting section  -->
    <div class="sidenav-border mt-sm-2">
        <a href="#">Help & Settings</a>
        <p><a href="{% url 'about_us' %}">About Us</a></p>
        <p><a href="">Notifications</a></p>
        <p>
            <a href="{% url 'Faq' %}" class="text-decoration-none" target="_blank">
                FAQ
            </a>
        </p>
        <p>
            <!--            <a href="#">Switch Accounts</a>-->
        </p>
        <p>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Sign out</a>
            {% else %}
            <a href="{% url 'signin' %}">Sign in</a>
            {% endif %}
        </p>
    </div>
    <!-- end help & setting section  -->
    <!-- start data&privacy section  -->
    <div class="sidenav-border mt-sm-2">
        <a href="#">Data & Privacy</a>
        <p><a href="">Request Your information</a></p>
        <p><a href="">Close Your Account</a></p>
        <p><a href="">Privacy Notice</a></p>
    </div>
    <!-- end data & privacy section  -->

    <div class="sidenav-border mt-sm-2">
        <p><a class="text-decoration-none" href="{% url 'become-supplier' %}">Become a Supplier</a></p>
        <p><a class="text-decoration-none" href="{% url 'earn-scroly' %}">Earn with scroly</a></p>
    </div>
</div>
<!-- end sidenav menu -->
<!-- for 3lines dropdown script start -->
<script>
         function openNav() {
             document.getElementById("mySidenav").style.width = "250px";
         }

         function closeNav() {
             document.getElementById("mySidenav").style.width = "0";
         }
      </script>
      <!-- 3lines dropdown script end -->
      <!-- -------------------------bootstrap script link start------------------------------------ -->
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <!-- -------------------------bootstrap script link end------------------------------------ -->
      <!-- start preloader script -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
         setTimeout(function(){
         $('.loader-bg').fadeToggle();
           }, 500);
      </script>
      <!-- end preloader script -->
    <script>
      document.querySelector(`#btn-search`).addEventListener(`click`, function() {
         document.querySelector(`#search`).classList.toggle(`show-search`);
       });
      </script>

<script>
   function myFunction() {
     document.getElementById("img1").style.zIndex = "1";
   }
   </script>
   </body>
</html>