{% extends "core/base1.html" %}{% load static %}
{% block content %}

{% block own_css %}
<link rel="stylesheet" href="{% static 'css/buy-now.css' %}" type="text/css">
<!-- <link rel="stylesheet" href="{% static 'css/add-to-card.css' %}" type="text/css"> -->
<!-- <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css"> -->

{% endblock own_css%}
<!-- start container-fluid for page -->
<div class="container-fluid mt-4 buy-now-page-pad">
    <!-- start row for whole page -->
    <div class="row">

        <!-- start col-sm-10 for content of page -->
        <div class="col-sm-12 page-padding">
            <!-- start mobile view text -->
            <div class="row buynow-mobile fw-bold">
                <div class="col-sm-12 ps-4 pb-2">
                    <i class="fa fa-angle-left font-icon pe-1" aria-hidden="true"></i>
                    Buy Now
                </div>
            </div>
            <!-- start mobile view text -->
            <!-- start delivery address section -->

            <div class="card design-card-outline mob-left-right delivery-address-card-box ">
                <div class="card-body ">

                    <!--start card body content row-->
                    <div class="row ">

                        <div class="col-sm-8 col-md-8">
                            {% if defaultaddress %}

                            <!--start delivery address contents-->
                            <div class="row ps-sm-2">
                                <div class="col-sm-12 col-md-12 delivery-card-text fw-bold  pb-sm-3">Delivery Address</div>
                            </div>
                            <!--stop delivery address contents-->

                            <!--start name contents-->
                            <div class="row design-delivery-address ps-sm-2">
                                <div class="col-sm-12 col-md-12 "><span
                                        class="fw-bold">{{defaultaddress.FullName}}</span> <br>{{defaultaddress.Address_line1}},
                                    {{defaultaddress.Address_line2}}, {{defaultaddress.Landmark}},
                                    {{defaultaddress.City}}, {{defaultaddress.state}},<br>Mobile Number:
                                    {{defaultaddress.MobileNo}}
                                </div>
                            </div>
                            <!--stop name contents-->
                            {% else %}

                            <div class="row ps-sm-2">
                                <div class="col-sm-12 col-md-12 delivery-card fw-bold  pb-sm-3">Add New Address</div>
                            </div>
                            <div class="row design-delivery-user-name ps-sm-2">
                                <div class="col-sm-12 col-md-12 "><span class="fw-bold"></span> <br>Delivery Address Not
                                    Available
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <!--start blank column-->
                        <div class="col-sm-1 col-md-1"></div>
                        <!--stop blank column-->
                        {% if defaultaddress %}

                        <!--start change address button-->
                        <div class="col-sm-3 col-md-3 btn-outline-padding d-grid">
                            <a href="{% url 'saveaddress' %}">
                                <button type="button" class="btn btn-change-address btn-block">Change Address</button>
                            </a>
                        </div>
                        <!--stop change address button-->
                        {%else%}
                        <div class="col-sm-3 col-md-3 btn-outline-padding d-grid">
                            <a href="{% url 'saveaddress' %}">
                                <button type="button" class="btn btn-change-address btn-block">Add New Address</button>
                            </a>
                        </div>
                        {% endif %}

                    </div>
                    <!--start card body content row-->

                </div>
            </div>

            <!-- end delivery address section -->
            <!-- start row for foldable wooden laptop and price detail -->
            <div class="row buynow-pddng pad-card-box-address">
                <!-- start foldable wooden laptop-->
                <div class="col-sm-9 col-md-9 pe-sm-4">


                    <!-- start foldable wooden laptop with image-->

                    {% if id%}
                    <div class="row foldable-wooden-laptop-table mb-sm-4 border-bottom table-padding">
                        <!-- start image and foldable wooden table section -->
                    
                        <div class="col-sm-6 col-md-6 border-end-mobile ">
                    
                            <!-- start image and foldable wooden table text -->
                    
                            <div class="row pb-sm-4">
                                <!-- start image -->
                                <div class="col-4 col-sm-3 col-md-3 table-image">
                                    <a href="{% url 'ProductDetail' AddToCartobj.ProductSizeColorId.Product.ProductSlug %}">
                                        <img src="{{AddToCartobj.ProductSizeColorId.ProductImage.url}}" alt=""
                                         class="img-fluid" width="100%">
                                    </a>
                                    
                                </div>
                                <!-- end image -->
                                <!-- start text section -->
                                <div class="col-8 col-sm-9 col-md-9">
                                    <!-- start Foldable Wooden Laptop Table.... -->
                                    <div class="row foldable-table-text fw-bold">
                                        <div class="col-12 col-sm-12 col-md-12 ">
                                            {{AddToCartobj.ProductSizeColorId.Product.ProductName}}
                                        </div>
                                    </div>
                                    <!-- end Foldable Wooden Laptop Table.... -->
                                    <!-- start Size: 32”(H)X27”(W)X19”D In inch -->
                                    <div class="row sizes ">
                                        <div class="col-12 col-sm-12 col-md-12">
                                            Size: {{AddToCartobj.ProductSizeColorId.ProductSize.size}}
                    
                                        </div>
                                    </div>
                                    <!-- end Size: 32”(H)X27”(W)X19”D In inch -->
                                    <!-- start ruppees section -->
                                    <div class="row buynow-rate-padding">
                                        <div class="col-12 col-sm-12 col-md-12 ">
                                            <span class="rupee-symbol"><i class="fa fa-inr"
                                                                          aria-hidden="true"></i></span> 
                                                                          
                                                <span class="buynow-rupee">{{AddToCartobj.ProductSizeColorId.discount}}</span> &nbsp;
                                            <span class="deleted-rupee text-decoration-line-through"> <i class="fa fa-inr text-decoration-line-through"
                                              aria-hidden="true"></i>{{AddToCartobj.ProductSizeColorId.Price}}</span>
                                         &nbsp;
                                            
                                            <span class="colored-rupee"> Saved &nbsp; <i class="fa fa-inr"
                                                                                  aria-hidden="true"></i> {{AddToCartobj.ProductSizeColorId.saved}}</span>
                                        </div>
                                    </div>
                    
                                    <!-- end ruees section -->
                    
                                    <!-- start color section -->
                                    <div class="row color-black">
                                        <div class="col-sm-12 col-md-12">
                                            Color: {{AddToCartobj.ProductSizeColorId.ProductColour.ProductColorName}}
                                        </div>
                    
                                    </div>
                                    <!-- end color section -->
                    
                    
                                </div>
                                <!-- end text section -->
                            </div>
                            <!-- end image and foldable wooden table text -->
                            <!-- start delivered tuesday  -->
                            <!-- <div class="row">
                    
                                <div class="col-sm-1 col-md-1">
                    
                                </div>
                                <a href="{% url 'AddToCard' %}" class="text-decoration-none">
                                    <div class="col-md-4 remove">
                                        Go To Cart
                                    </div>
                                </a>
                    
                            </div> -->
                            <!-- end delivered tuesday -->
                            <!-- start delivered Date -->
                            <div class="row">
                                <div class="col-8 col-sm-6 col-md-6 buynow-deliverd-date">Delivered To {{Delivery_date}}</div>
                                <div class="col-4 col-sm-6 col-md-6 buynow-remove-btn"><a href="{% url 'RemoveIItemFromCart' AddToCartobj.id %}" class="text-decoration-none text-dark"><strong>Remove</strong></a></div>
                            </div>
                            <!-- stop delivered Date -->
                    
                    
                    
                        </div>
                        <!-- end image and foldable wooden table section -->
                        <!-- start quantity section -->
                        <div class="col col-sm-3 col-md-3  border-end-mobile buynow-qunt-toppddng">
                            <div class="row quantity">
                                <div class="col-3 col-sm-7 col-md-7 text-center">
                                    Quantity:
                                </div>
                                <div class="col-2 col-sm-5 col-md-5 text-center">
                                    {{AddToCartobj.Qunatity}}
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-3 col-sm-7 col-md-7 quantity">
                                    <div class="row pt-2 ">
                                        <div class="col-3 col-sm-12 col-md-12  text-center button-padding">
                                            Quantity:
                                        </div>
                                    </div>
                    
                                </div>
                    
                                <div class="col-2 col-sm-5 col-md-5 quality-button-position">
                                    <div class="row pt-2">
                                        <div class="col-2 col-sm-12 col-md-12 text-center button-padding">
                                            <div class="dropdown">
                                                <select name="q" id="cars" class="btn dropdown-toggle quality-number"
                                                        data-bs-toggle="dropdown" aria-expanded="false"
                                                        onchange="getComboA(this,'{{AddToCartobj.id}}')">
                    
                    
                                                    {% for num in '12345'|make_list %}
                    
                                                    <option value="{{num}}" class="dropdown-item number-colorr">
                                                        {{num}}
                                                    </option>
                    
                                                    {% endfor %}
                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                    
                                </div>
                    
                                <!-- <div class="col-md-7 quantity">
                                    Quantity:
                                </div>
                                <div class="col-md-5 quality-button-position">
                                    <div class="dropdown">
                                        <button type="button" class="btn-outline dropdown-toggle quantity-button" data-bs-toggle="dropdown">
                                            1
                                        </button>
                                        <ul class="dropdown-menu quantity-button-item">
                                          <li><a class="dropdown-item border-bottom" href="#"> 1</a></li>
                                          <li><a class="dropdown-item border-bottom" href="#"> 2</a></li>
                                          <li><a class="dropdown-item" href="#"> 3</a></li>
                    
                                        </ul>
                                    </div>
                                </div> -->
                    
                            </div>
                    
                    
                        </div>
                        <!-- end quantity section -->
                        <!-- start balnk section -->
                        <div class="col-md-3">
                    
                        </div>
                        <!-- end blank section -->
                    </div>
                    {% else %}

                    {% for i in AddToCartobj %}
                    {% if i.MoneyStatus %}
                    {% else %}
                    <div class="row foldable-wooden-laptop-table mb-sm-4 border-bottom table-padding">
                        <!-- start image and foldable wooden table section -->
                    
                        <div class="col-sm-6 col-md-6 border-end-mobile ">
                    
                            <!-- start image and foldable wooden table text -->
                    
                            <div class="row pb-sm-4">
                                <!-- start image -->
                                <div class="col-4 col-sm-3 col-md-3 table-image">
                                    <a href="{% url 'ProductDetail' i.ProductSizeColorId.Product.ProductSlug %}">
                                        <img src="{{i.ProductSizeColorId.ProductImage.url}}" alt=""
                                         class="img-fluid" width="100%">
                                    </a>
                                    
                                </div>
                                <!-- end image -->
                                <!-- start text section -->
                                <div class="col-8 col-sm-9 col-md-9">
                                    <!-- start Foldable Wooden Laptop Table.... -->
                                    <div class="row foldable-table-text fw-bold">
                                        <div class="col-12 col-sm-12 col-md-12 ">
                                            {{i.ProductSizeColorId.Product.ProductName}}
                                        </div>
                                    </div>
                                    <!-- end Foldable Wooden Laptop Table.... -->
                                    <!-- start Size: 32”(H)X27”(W)X19”D In inch -->
                                    <div class="row sizes ">
                                        <div class="col-12 col-sm-12 col-md-12">
                                            Size: {{i.ProductSizeColorId.ProductSize.size}}
                    
                                        </div>
                                    </div>
                                    <!-- end Size: 32”(H)X27”(W)X19”D In inch -->
                                    <!-- start ruppees section -->
                                    <div class="row buynow-rate-padding">
                                        <div class="col-12 col-sm-12 col-md-12 ">
                                            <span class="rupee-symbol"><i class="fa fa-inr"
                                                                          aria-hidden="true"></i></span> 
                                                                          
                                                <span class="buynow-rupee">{{i.ProductSizeColorId.discount}}</span> &nbsp;
                                            <span class="deleted-rupee text-decoration-line-through"> <i class="fa fa-inr text-decoration-line-through"
                                              aria-hidden="true"></i>{{i.ProductSizeColorId.Price}}</span>
                                         &nbsp;
                                            
                                            <span class="colored-rupee"> Saved &nbsp; <i class="fa fa-inr"
                                                                                  aria-hidden="true"></i> {{i.ProductSizeColorId.saved}}</span>
                                        </div>
                                    </div>
                    
                                    <!-- end ruees section -->
                    
                                    <!-- start color section -->
                                    <div class="row color-black">
                                        <div class="col-sm-12 col-md-12">
                                            Color: {{i.ProductSizeColorId.ProductColour.ProductColorName}}
                                        </div>
                    
                                    </div>
                                    <!-- end color section -->
                    
                    
                                </div>
                                <!-- end text section -->
                            </div>
                            <!-- end image and foldable wooden table text -->
                            <!-- start delivered tuesday  -->
                            <!-- <div class="row">
                    
                                <div class="col-sm-1 col-md-1">
                    
                                </div>
                                <a href="{% url 'AddToCard' %}" class="text-decoration-none">
                                    <div class="col-md-4 remove">
                                        Go To Cart
                                    </div>
                                </a>
                    
                            </div> -->
                            <!-- end delivered tuesday -->
                            <!-- start delivered Date -->
                            <div class="row">
                                <div class="col-8 col-sm-6 col-md-6 buynow-deliverd-date">Delivered To {{Delivery_date}}</div>
                                <div class="col-4 col-sm-6 col-md-6 buynow-remove-btn"><a href="{% url 'RemoveIItemFromCart' i.id %}" class="text-decoration-none text-dark"><strong>Remove</strong></a></div>
                            </div>
                            <!-- stop delivered Date -->
                    
                    
                    
                        </div>
                        <!-- end image and foldable wooden table section -->
                        <!-- start quantity section -->
                        <div class="col col-sm-3 col-md-3  border-end-mobile buynow-qunt-toppddng">
                            <div class="row quantity">
                                <div class="col-3 col-sm-7 col-md-7 text-center">
                                    Quantity:
                                </div>
                                <div class="col-2 col-sm-5 col-md-5 text-center">
                                    {{i.Qunatity}}
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-3 col-sm-7 col-md-7 quantity">
                                    <div class="row pt-2 ">
                                        <div class="col-3 col-sm-12 col-md-12  text-center button-padding">
                                            Quantity:
                                        </div>
                                    </div>
                    
                                </div>
                    
                                <div class="col-2 col-sm-5 col-md-5 quality-button-position">
                                    <div class="row pt-2">
                                        <div class="col-2 col-sm-12 col-md-12 text-center button-padding">
                                            <div class="dropdown">
                                                <select name="q" id="cars" class="btn dropdown-toggle quality-number"
                                                        data-bs-toggle="dropdown" aria-expanded="false"
                                                        onchange="getComboA(this,'{{i.id}}')">
                    
                    
                                                    {% for num in '12345'|make_list %}
                    
                                                    <option value="{{num}}" class="dropdown-item number-colorr">
                                                        {{num}}
                                                    </option>
                    
                                                    {% endfor %}
                    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                    
                                </div>
                    
                                <!-- <div class="col-md-7 quantity">
                                    Quantity:
                                </div>
                                <div class="col-md-5 quality-button-position">
                                    <div class="dropdown">
                                        <button type="button" class="btn-outline dropdown-toggle quantity-button" data-bs-toggle="dropdown">
                                            1
                                        </button>
                                        <ul class="dropdown-menu quantity-button-item">
                                          <li><a class="dropdown-item border-bottom" href="#"> 1</a></li>
                                          <li><a class="dropdown-item border-bottom" href="#"> 2</a></li>
                                          <li><a class="dropdown-item" href="#"> 3</a></li>
                    
                                        </ul>
                                    </div>
                                </div> -->
                    
                            </div>
                    
                    
                        </div>
                        <!-- end quantity section -->
                        <!-- start balnk section -->
                        <div class="col-md-3">
                    
                        </div>
                        <!-- end blank section -->
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    <!-- end foldable wooden laptop with image-->
                    <!-- start order confirmation row -->
                    <div class="row boorder-confirmation confirmpadd border-bottom">
                        <div class="col-md-12">
                            Order Confirmation email will be sent to <strong>{{user.email}}</strong>
                        </div>

                        <!-- <div class="col-md-12 pt-2">
                            <a href="{% url 'AddToCard' %}" class="text-decoration-none">Go To <strong>Cart</strong></a>
                        </div> -->

                    </div>
                    <!-- end order confirmation row -->

                    <!-- start Your Other Address card 2 row -->

                    <!-- end Your Other Address card 1 row -->
                </div>
                <!-- end col-md-8 -->
                <!-- end foldable wooden laptop-->
                <!-- start col-md-4 price detail section-->
                <div class="col-sm-3 col-md-3 buynow-price-details-section">
                    <!-- start heading price details -->

                    <div class="row price-details">
                        <div class="col-md-12">
                            <strong>Price Details</strong>
                        </div>
                    </div>

                    <!-- end heading price details -->
                    <!-- start price (3 items) row -->
                    <div class="row price-3items pt-sm-3">
                        <div class="col-8 col-sm-8 col-md-8">
                            Price (3 Items)
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 ps-4">
                            <i class="fa fa-inr" aria-hidden="true"></i> {{TotalCartPrice}}
                        </div>
                    </div>
                    <!-- end price (3 items) row -->
                    <!-- start discount row -->
                    <div class="row discount pt-sm-3">
                        <div class="col-8 col-sm-8 col-md-8">
                            Discount
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 ps-4">
                            <i class="fa fa-inr" aria-hidden="true"></i><span
                                class="price-color"> {{TotalCartDiscount}}</span>
                        </div>
                    </div>
                    <!-- end discount row -->
                    <!-- start delivery charges row -->
                    <div class="row border-bottom delivery-charges pt-sm-3 pb-sm-3">
                        <div class="col-8 col-sm-8 col-md-8">
                            Delivery Charges
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 ps-4">
                            <del><i class="fa fa-inr " aria-hidden="true"></i> 80</del>
                            <span>Free</span>
                         </div>
                    </div>
                    <!-- end delivery charges row -->
                    <!-- start total amount row -->

                    <div class="row border-bottom total-amount pt-sm-3 pb-sm-3">
                        <div class="col-8 col-sm-8 col-md-8">
                            Total Amount
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 ps-4">
                            <i class="fa fa-inr buynow-rupee-fs" aria-hidden="true"></i> <span
                                class="price-color"> {{TotalAmount}}</span>
                        </div>
                    </div>
                    <!-- end total amount row -->

                    <!-- start your total savings row -->

                    <div class="row border-bottom your-total-savings pt-sm-3 pb-sm-3">
                        <div class="col-sm-12 col-md-12">
                            Your total savings on this order <i class="fa fa-inr " aria-hidden="true"></i>
                            {{TotalCartDiscount}}
                        </div>

                    </div>

                    <!-- end your total savingsrow -->

                    <!-- start continue button row -->


                    <div class="row paddbutton pb-sm-3">
                        <div class="col-md-12">
                            {% if id %}
                            <a href="{% url 'PlaceOrderNew' id  %}" class="text-decoration-none">
                                <div class="row">
                                    <div class="input-group ">
                                        <button type="button" class="form-control btn-circle btn-sm border border-0">
                                            <span class="share-button">Continue</span>
                                        </button>
                                        <span class="input-group-text share-btn border border-0"><button type="button"
                                                                                                         class="btn btn-circle btn-md"><i
                                                class="fa fa-window-maximize hare-icon-main"
                                                aria-hidden="true"></i></button>
                                    </span>
                                    </div>


                                </div>
                            </a>
                            {% else %}
                            <a href="{% url 'PlaceOrderNew'  %}" class="text-decoration-none">
                                <div class="row">
                                    <div class="input-group ">
                                        <button type="button" class="form-control btn-circle btn-sm border border-0">
                                            <span class="share-button">Continue</span>
                                        </button>
                                        <span class="input-group-text share-btn border border-0"><button type="button"
                                                                                                         class="btn btn-circle btn-md"><i
                                                class="fa fa-window-maximize hare-icon-main"
                                                aria-hidden="true"></i></button>
                                      </span>
                                    </div>


                                </div>
                            </a>
                            {% endif %}
                        </div>

                    </div>
                    <!-- end continue button row -->


                </div>

                <!-- end col-md-4 for price detail section-->
            </div>
            <!-- end row for foldable wooden laptop and price detail -->
        </div>
        <!-- end col-sm-10 for content of page -->
    </div>
    <!-- end row for whole page -->
</div>
<!-- end container-fluid for page -->


<script>
        function getComboA(selectObject,id) {
           var value = selectObject.value;
           URL="/UpadateBuyNowProductQuantity";
           location.href=URL+'/'+id+`?quantity=${value}`
           console.log('yes')
         }

</script>

<script>
        function getComboB(selectObject,id) {
           var value = selectObject.value;
           URL="/UpadateBuyNowProductQuantityAll";
           location.href=URL+'/'+id+`?quantity=${value}`
         }

</script>

{% endblock %}

