<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- JavaScript Bundle with Popper -->
    <link rel="stylesheet" href="{% static 'css/style-guid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/return-and-refund-policy.css' %}" type="text/css">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 page-pad">
    
    
                <!-- start-return-mobile-view -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 privacy-policy-one border-bottom  return-head">
                        <i class="fa fa-angle-left icon-for-mobile-view icon-for-mobile-view " aria-hidden="true"></i>
                        <span>Return & Refund Policy</span>
                    </div>
                </div>
                <!-- end-return-mobile-view -->
    
                <div class=" remove-m-bord"></div>
    
                <div class="row padding-return">
                    <div class="col-md-12 return">
                        Return and Refund Policy
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 return">
                        Thank you for shopping at Scroly.
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 return">
                        If, for any reason, You are not completely satisfied with a purchase We invite You to review our
                        policy on refunds and returns.
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 return">
                        The following terms are applicable for any products that You purchased with Us.
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 return">
                        Interpretation and Definitions
                    </div>
                </div>
    
                <!-- start-mobile-view -->
                <div class="row">
                    <div class="col-md-12 interpretation-for-mobile-view">
                        Interpretation and Definitions
                    </div>
                </div>
                <!-- end-mobile-view -->
    
                <!------------------- end-return ----------------------->
    
                <div class="row">
                    <div class="col-md-12 interpretation">
                        Interpretation
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 the-word">
                        The words of which the initial letter is capitalized have meanings defined under the following
                        conditions. The following definitions shall have the same meaning regardless of whether they appear
                        in singular or in plural.
                    </div>
                </div>
    
                <!-- =============================================================================================== -->
    
                <!-- start-defination-section -->
    
                <div class="row">
                    <div class="col-md-12 defination">
                        Definitions
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">For the purposes of this Return and Refund Policy:</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="heading">Company</span> <span class="content">(referred to as either “the Company”,
                            “We”, “Us” or “Our” in this Agreement) refers to Scroly.</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="heading">Goods</span> <span class="content">refer to the items offered for sale on the
                            Service.</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="heading">Orders</span> <span class="content">mean a request by You to purchase Goods
                            from Us.</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="heading">Service</span> <span class="content">refers to the Website.</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="heading">Website</span> <span class="content">refers to Smart Daily Deals, accessible
                            from <span class="text-primary">https://scroly.in/</span> </span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="heading">You</span> <span class="content">means the individual accessing or using the
                            Service, or the company, or other legal entity on behalf of which such individual is accessing
                            or using the Service, as applicable.</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">Your Order Cancellation Rights</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">You are entitled to cancel Your Order within 3 days without giving any reason
                            for doing so.</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">The deadline for cancelling an Order is 3 days from the date on which You
                            received the Goods or on which a third party you have appointed, who is not the carrier, takes
                            possession of the product delivered.</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">In order to exercise Your right of cancellation, You must inform Us of your
                            decision by means of a clear statement. You can inform us of your decision by:</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <li class="content">By email: return@scroly.in</li>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">We will reimburse You no later than 3 days from the day on which We receive
                            the returned Goods. We will use the same means of payment as You used for the Order, and You
                            will not incur any fees for such reimbursement.</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">Conditions for Returns</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">In order for the Goods to be eligible for a return, please make sure
                            that:</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12">
                        <li class="content">The Goods were purchased in the last 7 days</li>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <li class="content">The Goods are in the original packaging</li>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">The following Goods cannot be returned:</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12">
                        <li class="content">The supply of Goods made to Your specifications or clearly personalized.</li>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12">
                        <li class="content">The supply of Goods which according to their nature are not suitable to be
                            returned, deteriorate rapidly or where the date of expiry is over.</li>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12">
                        <li class="content">The supply of Goods which are not suitable for return due to health protection
                            or hygiene reasons and were unsealed after delivery.</li>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <li class="content">The supply of Goods which are, after delivery, according to their nature,
                            inseparably mixed with other items.</li>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">We reserve the right to refuse returns of any merchandise that does not meet
                            the above return conditions in our sole discretion.</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">Only regular priced Goods may be refunded. Unfortunately, Goods on sale cannot
                            be refunded. This exclusion may not apply to You if it is not permitted by applicable
                            law.</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">Returning Goods</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">You are responsible for the cost and risk of returning the Goods to Us. You
                            should send the Goods at the following address:</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">We can pick up form your address once your return or refund of the product
                            will be accepted.</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">We cannot be held responsible for Goods damaged or lost in return shipment.
                            Therefore, We recommend an insured and trackable mail service. We are unable to issue a refund
                            without actual receipt of the Goods or proof of received return delivery.</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">Gifts</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">If the Goods were marked as a gift when purchased and then shipped directly to
                            you, You’ll receive a gift credit for the value of your return. Once the returned product is
                            received, a gift certificate will be mailed to You.</span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 padding-defination">
                        <span class="content">If the Goods weren’t marked as a gift when purchased, or the gift giver had
                            the Order shipped to themselves to give it to You later, We will send the refund to the gift
                            giver.</span>
                    </div>
                </div>
    
                <!-- ================================================================================================== -->
    
                <!-- start-contact-us -->
    
                <div class="row">
                    <div class="col-md-12 contact-us">
                        Contact Us
                    </div>
                </div>
    
                <div class="row padding-if-you">
                    <div class="col-md-12 if-you">
                        If you have any questions about our Returns and Refunds Policy, please contact us:
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12 if-you">
                        By email: return@scroly.in
                    </div>
                </div>
    
                <!-- end-contact-us -->
    
                <!-- ================================================================================================= -->
    
                <div class="row">
                    <div class="col-md-12 go-to-home home-but">
                       <a  href="{% url 'home' %}" class="home-but">Go back home</a> 
                    </div>
                </div>
    
    
    
    
    
    
                <!-- end-defination-section -->
    
    
            </div>
        </div>
    
    </div>

   

</body>

</html>