body{
    background-image: url("../images/background.png");
}

/* start-page-padding */
.page-padding{
    padding-left: 1.875rem;
    padding-top: 1.875rem;
    padding-right: 1.875rem;
}
/* end-page-padding */

/* start-faq */
.faq{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: var(--color-17);
    padding-bottom: 1.875rem;

}
/* end-faq */

/* start-bg-shadow-1 */
.bg-shadow-1{
    background: var(--color-9);
    box-shadow: 0.125rem 0.125rem 0.375rem var(--color-22);
    border-radius: 0.375rem;
    padding-left: 1.875rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    
}
/* end-bg-shadow-1 */

/* start-bg-shadow-2 */
.bg-shadow-2{
    background: var(--color-9);
    box-shadow: 0.125rem 0.125rem 0.375rem var(--color-22);
    border-radius: 0.375rem;
    padding-left: 1.875rem;
    padding-top: 1.875rem;
    padding-bottom: 3.3125rem;
    

}
/* end-bg-shadow-2 */

/* start-padding-box */
.padding-border{
    padding-top: 1.875rem;
}
/* end-padding-box */

/* satrt-heading */
.heading{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--color-17);
    padding-bottom: 0.75rem;
}
/* end-heading */

/* start-content */
.content{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 145%;
    letter-spacing: -0.011em;
    color: var(--color-17);
}
/* end-content */

/* start-padding-space */
.padding-space{
    padding-top: 1.875rem;
}
/* end-padding-space */

/* start-go-to-home */
.go-to-home{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--color-1);
    padding-top: 1.875rem;
    padding-bottom: 12.75rem;

}
/* end-go-to-home */

.padding-border-2{
    padding-bottom: 1.875rem;
}


.card-payment .card
{
    min-width: 100%;
}


.home-but{
    color:var(--color-1);
    text-decoration:none;
}

.home-but:hover{
    color:var(--color-1);
    
}







/* Start Mobile view */

@media all and (min-width: 577px)
{
    .faqmobile{
        display: none;
    } 

    .icon-for-mobile-view{
        display: none;
    }
}


@media all and (max-width: 576px)
{   
    
    .faqmobile{
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: var(--color-17);
        /* padding-bottom: 1.25rem; */
    
    } 

    .padding-with-icon{
        padding-left: 17px;
    }

    .padding-faq-mobileview{
        padding-bottom: 1.25rem;
    }

    .faq{
        display:none;
    } 

    .page-padding {
        padding-left: 0rem;
        padding-top: 0rem;
        padding-right: 0rem;
    }

    .icon-for-mobile-view{
        color: var(--color-5);
        padding-left: 1rem;
        padding-top: 1.25rem;
        font-size: 22px;
    }

    .border-top{
        display: none;
    }

    .padding-border {
        padding-top: 0rem;
    }

    .bg-shadow-1 {
        background: var(--color-9);
        box-shadow: 0.125rem 0.125rem 0.375rem var(--color-22);
        border-radius: 0rem 0rem 0rem 0rem;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: var(--color-17);
        

                

    }

    .card-body {
        flex: 1 1 auto;
        padding:0 0 rem;
       

    }

    .padding-remove-mobile-view{
        padding-right: 0rem;
    }

    .bg-shadow-2 {
        background: var(--color-9);
        box-shadow: 0.125rem 0.125rem 0.375rem var(--color-22);
        border-radius: 0rem 0rem 0rem 0rem;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: var(--color-17);
       
        
      


    }

    .content {
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 400;
        font-size:0.75rem;
        line-height: 145%;
        letter-spacing: -0.011em;
        color: var(--color-5);
    
       
       
    }

    .heading {
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-17);
        padding-bottom: 0.75rem;
    }


    .my-pading-for-mobile-view{
        padding-top: 1rem;
    }

    .padding-space{
        padding-top: 0rem;
    }

    .go-back-mobile-view{
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 16.375rem;
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: var(--color-1);
    }

    .padding-border-2 {
        padding-bottom: 0rem;
    }

    .go-to-home{
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        /* identical to box height */
        color: var(--color-1);
        padding-top:1rem;

    }

    .home-but{
        color:var(--color-1);
        text-decoration:none;
    }
    
    .home-but:hover{
        color:var(--color-1);
        
    }
    
    
}

@media (min-width: 577px)
{
    html{
        font-size: 40%;
    }
}

@media (min-width: 768px)
{
    html{
        font-size: 45%;
    }
}

@media (min-width: 992px)
{
    html{
        font-size: 60%;
    }
}


@media (min-width: 1200px)
{
    html{
        font-size: 80%;
    }
}

@media (min-width: 1920px)
{
    html{
        font-size: 100%;
    }
}

/* End Mobile Views */