.page-padding {
	padding-left: 1.875rem;
	padding-right: 0.6rem;
}


/* --------------------- */

.heading {
	font-family: var(--font-1);
	font-size: 2rem;
	font-weight: 500;
	color: var(--color-5);
	font-style: normal;
	padding-left: 0.625rem;
	padding-bottom: 1.375rem;
	padding-top: 1.2rem;


}
.card-bottom-padding
{
	padding-bottom: 25px;
}

.card-shadow {
	background: var(--color-10);
	box-shadow: 0.25rem 0.25rem 0.375rem rgba(139, 125, 125, 0.26);
	border-radius: 0.375rem;
}


.foldable-table {

	font-family: var(--font-1);
	font-style: normal;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.5rem;
	color: var(--color-5);
	padding-bottom: 0.5rem;

}

.icon {
	color: var(--color-17);
}

.rupee {
	font-family: var(--font-1);
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.8125rem;
	color: var(--color-12);
}

.deleted-rupee {
	color: rgba(63, 81, 92, 0.4);
}

.offer {
	font-family: var(--font-1);
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.375rem;
	color: var(--color-5);
}

.free-delivery {
	font-family: var(--font-1);
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25rem;
	color: var(--color-5);
	padding-top: 0.375rem;
}

.img-text {
	position: relative;
	text-align: center;
}

.bottom-left {
	position: absolute;
	bottom: 0.5rem;
	left: 1rem;

}

.rating {
	background: var(--color-9);
	border-radius: 0.125rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.rating-clr {
	font-family: var(--font-1);
	font-style: normal;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.0625rem;
	color: var(--color-5);
}

.star-icon {
	color: var(--color-1);
}


.card .card-header .img-fluid {
	height: 15rem;
	width: auto;
	
}

.filter-section-mobible-veiw {
	background: #FFFFFF;
}

/* Start Cart content */
.search-base h4,
.search-base ul,
.search-rightContainer {
	padding-left: 0;
}

.results-base {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	margin: 0 -0.625rem 0 -2rem;
	width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

ul {
	list-style: none;
}

/*.product-base
    {
        width: 254px;
        text-align: left;
        position: relative;
        vertical-align: top;
        overflow: hidden;
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 1rem -1.5rem -1.0625rem 0.375rem;
    }*/

.product-thumbShim {
	position: absolute;
	top: 0;
	left: 0;
	width: 101%;
	height: 13.125rem;
	background-color: #282c3f;
	-webkit-transition: visibility 0s, opacity .5s linear;
	transition: visibility 0s, opacity .5s linear;
	visibility: hidden;
	opacity: 0;
}

.product-ratingsContainer {
	z-index: 1;
	position: absolute;
	margin-left: 0.625rem;
	margin-top: 15.625rem;
	font-size: 0.75rem;
	font-weight: 500;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 0.125rem;
	padding: 0 0 0 0.25rem;
	background-color: hsla(0, 0%, 100%, .8);
}

.product-base .product-similarItemCta {
	width: 1.875rem;
	height: 1.875rem;
	line-height: 1.625rem;
	font-size: 0.75rem;
	right: 0.75rem;
	top: 12.9375rem;
	display: none;
	z-index: 1;
}

.image-grid-similarColorsCta {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	position: absolute;
	z-index: 4;
	color: #000;
	right: 1.25rem;
	bottom: 1.25rem;
	border: 0.0625rem solid #dadade;
	line-height: 2.0625rem;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	will-change: contents;
	background: #fff;
}

.product-actions {
	display: none;
	position: absolute;
	z-index: 3;
	left: 0;
	top: 15.625rem;
	background: #fff;
	width: 100%;
	padding: 1rem 0.625rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.product-base .product-similarItemCta>span:first-child {
	background-size: 6000% 486.36%;
	background-position: 10.4% 71%;
	width: 0.9375rem;
	height: 0.8125rem;
}

.image-grid-similarColorsIcon {
	vertical-align: middle;
}

.product-base .product-similarItemCta>span:nth-child(2) {
	font-size: 0.75rem;
	margin-top: 0 !important;
	margin-left: 0.375rem !important;
}

.image-grid-iconText {
	font-weight: 500;
	color: #ff517b;
	vertical-align: middle;
	visibility: hidden;
	margin-left: 0.625rem;
	font-size: 0.875rem;
}

.product-actions {
	display: none;
	position: absolute;
	z-index: 3;
	left: 0;
	top: 15.625rem;
	background: #fff;
	width: 100%;
	padding: 1rem 0.625rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.product-sizeDisplayDiv {
	z-index: 1;
	width: 100%;
	max-width: 100%;
	position: absolute;
	bottom: 6.875rem;
	background: #fff;
	visibility: hidden;
	margin-bottom: -8.75rem;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.product-sizeDisplayHeader {
	padding: 0.5rem 0.5rem 0.5rem 0.625rem;
	text-align: left;
	font-size: 0.875rem;
	color: #535766;
}

.product-sizeButton,
.product-sizeButtonsContaier {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* End Cart content */


/* Start Mobile Views */

@media all and (min-width: 577px) {}


@media all and (max-width: 576px) {
	.free-delivery-mobile{
		
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 0.5rem;
		line-height: 0.625rem;
		color: #3F515C;
	}

	.foldable-table{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 0.625rem;
		line-height: 0.75rem;
		color: #304653;
	}
	.card {
		width: 10rem;
	}

	.card .card-header .img-fluid {
		height: 9.375rem;


	}

	.categorycol {
		display: none;
	}

	.heading {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 1.25rem;
		line-height: 1.5rem;
		color: #304653;
		padding-bottom: 1rem;
		padding-left: 0rem;
	}

	.foldable-table {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 0.625rem;
		line-height: 0.75rem;
		color: #304653;
		padding-bottom: 0.1rem;
	}

	.icon {
		font-weight: 500;
		font-size: 0.625rem;
		line-height: 0.75rem;
		padding-bottom: 0.375rem;
	}

	.rupee {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 0.625rem;
		line-height: 0.75rem;

		color: #F8772F;
		padding-bottom: 0.375rem;
	}

	.deleted-rupee {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 0.5rem;
		line-height: 0.625rem;
		color: rgba(63, 81, 92, 0.4);
		padding-bottom: 0.375rem;
	}

	.offer {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 0.625rem;
		line-height: 0.75rem;

		color: #304653;
		padding-bottom: 0.375rem;
	}

	/* .free-delivery {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 0.5rem;
		line-height: 0.625rem;
		color: #3F515C;
	} */

	.row-padding-mobile-view {
		padding-bottom: 1rem;
	}

	.rating-clr {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 0.625rem;
		line-height: 0.75rem;

		color: #304653;

	}

	.star-icon {
		color: #FC813D;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 0.625rem;
		line-height: 0.75rem;
	}

	.dash {
		font-weight: 400;
		font-size: 0.625rem;
		line-height: 0.75rem;

	}

	.rating {
		padding-top: 0.125rem;
		padding-bottom: 0.125rem;
		padding-left: 0.25rem;
		padding-right: 0.25rem;
	}

	.page-padding {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.mobile-view-padding {
		padding-bottom: 1rem;
	}

	.product-base {
    width: 166px;
    text-align: left;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 16px -15px -17px -8px;
    }
}

@media (min-width: 577px) {
	html {
		font-size: 40%;
	}

	.filter-for-mobile-view{
		display: none;
	}


	.free-delivery-mobile
	{
		display: none;
	}

}

@media (min-width: 768px) {
	html {
		font-size: 45%;
	}

	.categorycol {
		display: none;
	}

		.product-base
    {
        width: 15.875rem;
        text-align: left;
        position: relative;
        vertical-align: top;
        overflow: hidden;
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 1rem -1.5px -1.063px 0.375px;
    }

	.filter-for-mobile-view {
		display: none;
	}
	.free-delivery-mobile
	{
		display: none;
	}


}

@media (min-width: 992px) {
	html {
		font-size: 60%;
	}

		.product-base
    {
        width: 15.875rem;
        text-align: left;
        position: relative;
        vertical-align: top;
        overflow: hidden;
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 1rem -1.5px -1.063px 0.375px;
    }

	.filter-for-mobile-view {
		display: none;
	}
	.free-delivery-mobile
	{
		display: none;
	}


}


@media (min-width: 1200px) {
	html {
		font-size: 80%;
	}
    

	.fa-angle-left {
		display: none;
		color: #304653;
		font-weight: 500;
		font-size: 1.5625rem;
		line-height: 2rem;
	}

	.filter-for-mobile-view {
		display: none;
	}

	.row-padding-desktop-view {
		padding-bottom: 1.875rem;
	}

	.product-base
    {
        width: 15.875rem;
        text-align: left;
        position: relative;
        vertical-align: top;
        overflow: hidden;
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 1rem -1.5px -1.063px 0.375px;
    }
	.free-delivery-mobile
	{
		display: none;
	}
}

@media (min-width: 1920px) and (max-width: 2560px) {
	/* html{
        font-size: 100%;
    } */

	.card {
		width: 16rem;
	}

	.fa-angle-left {
		display: none;
		color: #304653;
		font-weight: 500;
		font-size: 1.5625rem;
		line-height: 2rem;
	}

	.filter-for-mobile-view {
		display: none;
	}

	.filter-icon a{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.25rem;
		color: #FC813D;
		padding-top: 1rem;
	}

	.row-padding-desktop-view {
		padding-bottom: 1.875rem;
	}
	.free-delivery-mobile
	{
		display: none;
	}
}

@media (min-width: 1920px) {

	.card {
		width: 18rem;
	}
	html {
		font-size: 100%;
	}

	.fa-angle-left {

		color: #304653;
		font-weight: 500;
		font-size: 1.5625rem;
		line-height: 2rem;
	}

	.filter {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.25rem;
		color: #FC813D;
		padding-top: 1rem;
	}

	.row-padding-desktop-view {
		padding-bottom: 1.875rem;
	}

    .product-base
    {
        width: 15.875rem;
        text-align: left;
        position: relative;
        vertical-align: top;
        overflow: hidden;
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 1rem -1.5px -1.063px 0.375px;
    }
	.free-delivery-mobile
	{
		display: none;
	}

}

/* End Mobile Views */

.filter-icon a{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.25rem;
	color: #FC813D;
	padding-top: 1rem;
}