
body{
    background-image: url("../images/background.png");
    /* overflow: hidden; Hide scrollbars */
    margin: 0px;
    /* padding: 0px; */
}


.page_padd{

    padding: 110px 0px 0px 0px;
} 


.page-shadow-roundedd{
    background: rgba(255, 255, 255, 0.5);
    /* shadow */
    
    box-shadow: 2px 2px 6px #D2B3B3;
    border-radius: 20px;
}



/* ------------ */
.forgot-password{
    font-family:var(--font-2);
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
text-align: center;
color: var(--color-5);

}

.forget-color{
    text-decoration: none;
    color: var(--color-9);
}



a.forget-color {
    color:var(--color-9);
    text-decoration: None;
}

/* ---------- */
.reset-password-text{
    font-family:var(--font-1);
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
text-align: center;
color: var(--color-17);
}

/* input form */
.input-bg-remove{
    background-color: transparent;
}

.icon-color{
    color: var(--color-1);
}


/* button start */
.reset-btn-color{
    background-color: var(--color-1);
    border-color:var(--color-1);
    font-family:var(--font-1);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FFFFFF; 
}



/* button end */




