body{
    background-image: url("../images/background.png");
}
.page-pad{
    padding-left:1.875rem;
    padding-right:1.875rem;
}

.return-head{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4375rem;
    /* identical to box height */
    color: #3F515C;
    padding-top:1.875rem;
    padding-bottom:1.875rem;

}
/* start-return-and-refund */
.return-and-refund{
    padding-bottom: 1.875rem;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4375rem;
    color: var(--color-17);
    
}
/* end-return-and-refund */

.padding-return{
    padding-top: 1.875rem;
}

/* start-return */
.return{
    padding-bottom: 1.25rem;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 145%;
    letter-spacing: -0.011em;
    color: var(--color-17);
}
/* end-return */

.interpretation{
    padding-top: 0.625rem;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--color-17);
}

/* start-the-word */
.the-word{
    padding-top: 0.75rem;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 145%;
    letter-spacing: -0.011em;
    color: var(--color-17);
}
/* end-the-word */

/* start-defination */
.defination{
    padding-top: 1.875rem;
    padding-bottom: 0.75rem;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--color-17);
}
/* end-defination */

/* start-padding-defination */
.padding-defination{
    padding-bottom: 1.25rem;
}
/* end-padding-defination */

/* start-content */
.content{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 145%;
    letter-spacing: -0.011em;
    color: var(--color-17);
}
/* end-content */

/* start-heading */
.heading{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 145%;
    letter-spacing: -0.011em;
    color: var(--color-17);
}
/* end-heading */

/* start-contact-us */
.contact-us{
    padding-top: 0.625rem;
    padding-bottom: 0.75rem;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--color-17);
}
/* end-contact-us */

/* start-if-you */
.if-you{
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 145%;
    letter-spacing: -0.011em;
    color: var(--color-17);

}
/* end-if-you */

/* start-padding-if-you */
.padding-if-you{
    padding-bottom: 1.25rem;
}
/* end-padding-if-you */

/* start-go-to-home */
.go-to-home{
    padding-top: 1.875rem;
    padding-bottom: 4.1875rem;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--color-1);}
   

.home-but{
    color:var(--color-1);
    text-decoration:none;
}

.home-but:hover{
    color:var(--color-1);
    
}


/* end-go-to-home */











/* Start Mobile view */

@media all and (min-width: 577px)
{
    /* .interpretation-for-mobile-view{
        display: none;
    } */

    /* .padding-return-and-refund-mobile-view{
        display: none;
    } */

    .remove-d-bord{
        display: none;
    }
    .icon-for-mobile-view{
        display: none;
    }

    
    
}


@media all and (max-width: 576px)
{
    
    
    .padding-return-and-refund-mobile-view{
        padding-bottom: 1rem;
    }

    .return-and-refund{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: #3F515C;

    }

    .icon-for-mobile-view{
        color: #304653;
        font-size: 1.25rem;
    }

    .return-policy-mobile-view{
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: var(--color-17);
    }
    
    .padding-with-icon{
        padding-left: 1.0588rem;
    }

    .padding-return {
        padding-top: 1rem;
    }

    .return {
        padding-bottom: 0.9375rem;
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 145%;
        letter-spacing: -0.011em;
        color: var(--color-17);
    }

    .interpretation-for-mobile-view{
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 145%;
        letter-spacing: -0.011em;
        color: var(--color-17);
    }

    .interpretation {
        padding-top: 0.5rem;
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.25rem;
        color: var(--color-17);
    }
    
    .the-word {
        padding-top: 0.5rem;
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 145%;
        letter-spacing: -0.011em;
        color: var(--color-17);
    }

    .defination {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.25rem;
        color: var(--color-17);
    }

    .content {
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 145%;
        letter-spacing: -0.011em;
        color: var(--color-17);
    }

    .heading {
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 600;
        font-size: 0.625rem;
        line-height: 145%;
        letter-spacing: -0.011em;
        color: var(--color-17);
    }

    .contact-us {
        padding-top: 0rem;
        padding-bottom: 0.5rem;
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        color: var(--color-17);
    }

    .if-you {
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 145%;
        letter-spacing: -0.011em;
        color: var(--color-17);

    }

    .go-to-home {
        padding-top: 1rem;
        padding-bottom: 5.625rem;
        font-family: var(--font-1);
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        color: var(--color-1);
    }

    .remove-m-bord{
        display: none;
    }

    .return-head{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: #3F515C;
    }

    .home-but{
        color:var(--color-1);
        text-decoration:none;
    }
    
    .home-but:hover{
        color:var(--color-1);
        
    }


}

@media (min-width: 577px)
{
    html{
        font-size: 40%;
    }
}

@media (min-width: 768px)
{
    html{
        font-size: 45%;
    }
}

@media (min-width: 992px)
{
    html{
        font-size: 60%;
    }
}


@media (min-width: 1200px)
{
    html{
        font-size: 80%;
    }
}

@media (min-width: 1920px)
{
    html{
        font-size: 100%;
    }
}

/* End Mobile Views */



